body, div, button, span, textarea {
  font-family: Roboto;
}


body {
  min-width: 1128px;
  overflow: auto;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px
}

table {
  margin-right: 15px;
  ;
}

.btn-animate-margin-top {
  margin-top: 174px;
}

.text-seleciona-image-span {
  font-size: 16px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.text-seleciona-image-span:hover {
  font-size: 24px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

th {
  font-weight: 600;
  padding: 12px;
  min-width: 70px;
}

.container {
  /* display: flex;
  justify-content: center;
  max-width: 1240px; */
}

.section-con {
  display: flex;
}

.section-animate {
  width: 100%;
  overflow: hidden;
}

.display-flex {
  display: flex;
}

.border-none {
  border: none !important;
}

.btn-sel-col {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #90d9e5;
  color: #FFFFEA;
  font-weight: 600;
  border: 2px solid #CDCDCD;
  border-radius: 5px;
}

.btn-sel-col:hover {
  padding: 12px 14px
}

.inp-chck {
  cursor: pointer;
}

.sup-container {
  padding: 10px;
}

input, input[type="file"i] {
  cursor: pointer;
}

.container-animation {
  /* border: 1px solid #cecece; */
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.btn-run-animate {}

.content-anima {
  border: 2px dotted #CDCDCD;
  min-width: 930px;
  min-height: 700px;
  /* background: lightskyblue; */
}

.name-title-image {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  color: #232323;
  text-align: center;
  margin-bottom: 12px;
  transition-property: font-size;
  transition-duration: 0.3s;
  font-family: system-ui;
}

.name-title-image:hover {
  font-size: 42px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.box-primary {
  display: flex;
  justify-content: space-between;

  /* border: 1px solid red; */
  min-width: 250px;
  min-height: 250px;
  /* margin: 5px; */
  height: 100%;

  /* background: red; */
}

.container-chanpion {
  width: 500px;
  height: 100%;
  /* border: 1px solid blue; */
}

.container-vice {
  width: 500px;
  height: 100%;
  /* border: 1px solid orange; */
}

.team-name-margin-top {
  margin-top: 44px;
}

.title-anim {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  font-family: system-ui;
  text-transform: uppercase;
}

.field-img-anim-champion {}

.field-img-anim-vice {}

.img-max-size {
  width: 350px;
  height: 350px;
}

.img-container-anim {}

.container-center-anima {
  display: flex;
  flex: 1;
  min-height: 420px;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.space-container-anima {}

.td-select-image {
  padding: 15px;
  height: 100%;
  margin-top: 10px;
}

.label-select-image {
  cursor: pointer;
  height: 100%;
}

.input-select-image {
  display: none;
}

.separete-buttons {
  /* display: flex;
  justify-content: space-between; */
}

.wobble-hor-bottom {
  animation: wobble-hor-bottom 5s both;
  animation-iteration-count: infinite;
}

.not-img {
  background: #ffcccb;
}

.with-img {
  background: #a3ffa8;
}

.chk-anim-selec {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
  cursor: pointer;
  transition-property: font-size;
  transition-duration: 0.3s;
}

.chk-anim-selec:hover {
  font-size: 24px;
  transition-property: font-size;
  transition-duration: 0.4s;
}

.container-btn-test-animations {
  margin-top: 150px;
}

.container-center-pencil-icon {
  display: flex;
  justify-content: space-between;
}

.pencil-icon {
  font-size:24px
}

.input-edit-pencil{
  cursor: text;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-17 21:3:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@keyframes wobble-hor-bottom {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}


.wobble-hor-top {
  animation: wobble-hor-top 5s ease-in-out both;
  animation-iteration-count: infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-17 21:20:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@keyframes wobble-hor-top {

  0% {
    /* transform: translateX(0%); */
    transform-origin: 100% 0%;
    transform: scale3d(1, 1, 1);
    /* transform-origin: bottom right 60px; */
  }

  15% {
    /* transform: translateY(100px) rotate(1deg); */
  }

  20% {
    /* transform: translateY(100px) rotate(1deg); */
    transform: translateY(60px) rotate(1deg) scale3d(1.1, 0.85, 1);
  }

  40% {
    /* transform: translateY(100px) rotate(-10deg); */
    transform: translateY(85px) rotate(1deg) scale3d(1.12, 0.75, 1);
  }

  60% {
    /* transform: translateY(200px) rotate(3.6deg); */
    transform: translateY(110px) rotate(1deg) scale3d(1.15, 0.65, 1);
  }

  75% {
    transform: translateY(-100px) scale3d(1, 1.05, 1) rotate(-2.4deg);

  }

  80% {}

  /* 
  100% {
    transform: scale3d(1, 1, 1);
  } */
}